.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    text-decoration: none;
}

.story {
    font-size: 100px;
    text-align: center;
    text-decoration: none;
}

.gif {
    position: absolute;
}

.gif1 {
    top: 200px;
    left: 300px;
}

.gif2 {
    bottom: 150px;
    right: 300px;
}