.moviePageContainer {
    padding-bottom: 25vh;
    text-align: center;
}

.movieTitle {
    height: auto;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    width: 100vw;
}