.moviePageContainer {
    text-align: center;
}

.movieTitle {
    height: auto;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
}

img {
    width: 100vw;
}

html,body{
    margin: 0;
}


/* .iframecontainer {
    overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.iframecontainer iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.iframecontainer3 {
    overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  justify-content: center;
}
.iframecontainer3 iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 80%;
} */

.flower {
    width: 60%;
}