.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    height: 100px;
    width: 100vw;
    align-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 20px;

    z-index: 10;
}

.headerItem {
    padding-left: 25px;
    padding-right: 30px;
    cursor: pointer;
}