
.container {
    display:block;
    white-space: nowrap;
    z-index: 1;
    max-width:100vw;
    overflow-y: hidden;
    overflow-x:auto;
    word-wrap:normal;
    position: relative;
}
.poster {
    width: 400px;
    height: 600px;
    background: url("../../assets/images/crinkledPoster.png") no-repeat 60%;
    padding: 40px;
    padding-right: 100px;
    margin: 60px;
    display: inline-block;
}
.poster:hover {
    background: url("../../assets/images/flatPoster.png") no-repeat 60%;
}

